a {
  text-decoration:none;
  color: #3367d6;
}

a:hover {
  text-decoration:underline;
}

h1 {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 30px;
  /* new */
  -webkit-margin-before: 0em;
}

h1.rand {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 30px;
}


hr {
  border:solid #cccccc 1px;
}

p {
  margin-top: 40px;
}

h2 {
  font-size: 14px;
}

div.code {  
  /*margin-top: 40px;*/
  font-size: 12px;
  margin-bottom: 40px;
}

div.coderand {  
  margin-top: 40px;
  font-size: 12px;
  margin-bottom: 40px;
}

pre {
  font-size: 12px;
}

.gist pre {
  font-size: 12px;
}

@media only screen and (max-width: 860px){

  body {
    font-size: 10px;
  }

  div.code {
    font-size: 10px;
  }

  pre {
    font-size: 10px;
  }

  .gist pre {
    font-size: 10px;
  }

  img.full {
    width: 100%;
  }
}

ul.yes {
  padding-left: 35px;
  list-style: none;
}

ul {
  padding: 0px;
  list-style: none;
}

div.s1 {
  width: 300px;
  float:left;
  background-color: #fafafa;
}

div.s2 {
  width: 300px;
  float:left;
}

b {
  color: #3E50B4;
  font-weight: bold;
}

core-item.core-selected {
  color: #3E50B4;
}

img {
  border: 1px solid black;
}

paper-button {
  background: #4285f4;
  color: #fff;
  margin-left: 0px;
}

paper-button:hover {
  background: #2a56c6;
}

paper-button::shadow #ripple {
  color: #2a56c6;
}