  body {
    margin: 0;
    font-family: "RobotoDraft";
    font-weight: 300;
  }

  div.mytitle {
    font-weight: 500;
  }

  @media (min-device-width: 1px) {
      iframe.twitch {
        width: 100%;
      }
  }

  @media (min-device-width: 310px) {
      iframe.twitch {
          width: 310px;
          height: 189px;
      }
  }

  @media (min-device-width: 620px) {
    iframe.twitch {
      width: 620px;
      height: 378px;
    }
  }

