body {
  margin: 0;
  font-family: "RobotoDraft";
  font-weight: 300;
  color: #424242;
  background-color: #F5F5F5;
}

#container {
  background-color: #F5F5F5;
}

#paper  {
  width:825px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #FFFFFF;
  padding: 80px 56px 80px 56px;
}

#breadcrumb {
  color: #9e9e9e !important;
  float:left;
  font-size: 12px;
}

a.breadcrumb {
  color: #9e9e9e !important;
  text-decoration: none;
}

p.min {
  font-size: 10px;
  margin-bottom: 5px;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  background-color: #E3F2FD;
  padding: 5px 5px 5px 5px;
  margin-top: 0px;
}

a, a:visited, a:link, a:active, a:focus  { color: #4285f4; text-decoration: none; }
a:hover { color: #4285f4; text-decoration: underline; }

a.black, a.black:visited, a.black:link, a.black:active, a.black:focus { color: #424242; text-decoration: none; }
a.black:hover { color: #424242; text-decoration: underline; }

div.mytitle {
  font-weight: 500;
}

#date {
  color: #9e9e9e !important;
  float:right;
  font-size: 12px;
}

h3 {
  margin-top: 48px;
}

img.border {
  border: 5px solid #E3F2FD;
}

@media screen and (max-width: 500px) {
  #paper  {
    width: 80%;
    padding: 25px 25px 25px 25px;
  }

  img.border {
    width: 100%;
    border: 5px solid #E3F2FD;
  }
}
