Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"

Redirect /twitch https://www.twitch.tv/hofiorg
Redirect /youtube https://www.youtube.com/channel/UCF7FDDYqG0srtUDlg9MfTGg
Redirect /yt https://www.youtube.com/channel/UCF7FDDYqG0srtUDlg9MfTGg
Redirect /twitter https://twitter.com/hofiorg
Redirect /facebook https://www.facebook.com/hofiorg
Redirect /fb https://www.facebook.com/hofiorg
Redirect /instagram https://www.instagram.com/hofiorg
Redirect /ig https://www.instagram.com/hofiorg
