body
{
  background-color: #e9eaed;
  overflow: hidden;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  color: #333;
}

div.content
{
  width: 100%;
  text-align: center;
}

div.foot_image
{
  margin-top:10px;
  height:16px;
  margin:0px;
  padding:0px;
  padding-right: 2px;
  display:inline-block;
  vertical-align: top;
}

div.foot_text
{
  margin-top:10px;
  height:16px;
  padding-top: 2px;
  padding-right: 5px;
  font-size: 10px;
  font-family: arial, helvetica, sans-serif;
  color: #333;      
  display:inline-block;
  vertical-align: top;
}     

a.foot:link,a.foot:visited,a.foot:active,a.foot:focus
{
  font-size: 10px;
  font-family: arial, helvetica, sans-serif;
  color: #333;
  text-decoration: none;
} 

a.foot:hover
{
  font-size: 10px;
  font-family: arial, helvetica, sans-serif;
  color: #333;
  text-decoration:underline;
}    

img.foot
{
  margin-top:10px;
  border:0px;
}
